---
language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "6"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    JOBS: 1
    secure: fOTO/HpUT0xsfml9iXuEL9qBu0NVErcig6CmrS1DFv7f4x9/mYQMNzLUv5b6VBPqGHeFNHiGaUUza3Ufc5KpL7DOu/1y6TFQlSoM6MRRdIXb+50MObvkJ4wXwYJH7Zrb4g8RTaBOY9uU5XQkm/E6GWWF3NiYFoVzCYPNSgAALko1caoEX2hoJNXJSd0T4G+gxtxc2g08RGunBPLqIyy2avMRN4yq0WDN2NbBrztM01FA5RoOLPyX0hhzyIZ+45z34wKvZtu7rj9h1KbFOZOVFJWpHDa0bXxhF63ldxPINe2QMOSsOD22Czk1+IKyC+88gtkvUq7pGUaJK6YdVDRcW9G/DMHVy/IE2aFabrPDVgzrmeCoVKzATzt8nMfIMTTu9Unoa5fdohpJ0NPhYnPfVAGfJ+2MPITgP+x2X6M5+KgHCBdaIgwBVnZE9DTb1L9c/Eh50zeHHbfv9L+NVlbQFzMWNj+kKWMj0qwh6JPpSFiKaOvTK6XP+NSUc7euAZgqK6lwqS07pvcql4qvzbeRWyn/GZuRHOGvfkUNuvLee8dMKfpF3s1VQ6blHHqKB8qH2ifxawiztWgUkYxK0GFTk//ZopLzP90bLl0JiGlg517tp5V9eBOK5ZlPwsSOhD+wta9gCssPjK4i2H2IwLox7AqXegigBMdqIbXz9LaFVAY=

branches:
  only:
    - master
    # npm version tags
    - /^v\d+\.\d+\.\d+/
    # greenkeeper branches
    - /^greenkeeper\/.*$/

jobs:
  fail_fast: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

  include:
    # runs linting and tests with current locked deps

    - stage: "Tests"
      name: "Tests"
      install:
        - yarn install --non-interactive
      script:
        - yarn lint:hbs
        - yarn lint:js
        - COVERAGE=true yarn test
        - codecov

    # - name: "Floating Dependencies"
    #   script:
    #     - yarn test

    # we recommend new addons test the current and previous LTS
    # as well as latest stable release (bonus points to beta/canary)
    - stage: "Additional Tests"
      env: EMBER_TRY_SCENARIO=ember-lts-2.18
    - env: EMBER_TRY_SCENARIO=ember-lts-3.4
    - env: EMBER_TRY_SCENARIO=ember-release
    - env: EMBER_TRY_SCENARIO=ember-beta
    - env: EMBER_TRY_SCENARIO=ember-canary
    - env: EMBER_TRY_SCENARIO=ember-default-with-jquery

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - yarn global add greenkeeper-lockfile@1
  - yarn global add codecov

install:
  - yarn install --no-lockfile --non-interactive

script:
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO

notifications:
  webhooks:
    urls:
    - https://webhook.atomist.com/travis
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
  slack:
    rooms:
      secure: e5uwI4aNHj1d2U4lZIGsgcSP3TR6Y3eVEzqjQDVm9Ev/0JO8UWklWp5fjJtl1Yg7rifbtDeiX2U3x2jfpQpg/CMalY7lVTWyrGPW+lhWe7aDaGm9gAK1mwpnRTFtatF5vU/46p0CcK24iHvGojEWPQmRrHdeAeq457gB03Utg+Qkhx2mHQmd/ObcZaPOcMyB2F6wcDVDwSF4kHG6T9cS9XXu/EgVsGMrsSJ/uOZD4oJzXE4I8dcLwVw7jDCrBd8/HlyosdhAIrnLMRD193r3YSzepwYA535BglLaB2fIknGs2tq8MoQ7zxs/FLLzRhLHabWr79O2hVhqJt3JHryWjPrmK9OGNq/eXkeDEXQ7QTF136RKmbWRW6tzoBU0lZaf5vyfkYalxwniIUV9hrRpFqLuhk544sspBarOpOGYyBCXd96Y+ToLNLDdC73tqLSv2Ki8Okusb6wHGEJdpw8pYgS031bSEp67SoZGrhWmy3UkIt2x9ve8SZ0VU5DZtnqImwGll1XOREcVCaW9FF6l47h0bORV+U+ZaH4xmCzAHo8dw6hWzRxld9oFoTrizrKTASbuEcfLv09C+fY2qnljKhQwowr3kefJK5XVubJJQucYSq/CFh4HzT1q4Mkvvmr9z+LXjbX+QyIG3FGK085s5m6oe8bftrUreVQh4zPB2zE=

deploy:
  provider: npm
  skip_cleanup: true
  email: devo.tox.89@gmail.com
  api_key:
    secure: n9eseUlM+nAwe/vg8ZTJ0cD3ajtFRAZMn/gszO/BFM8V5sxKivpXyu/tQvkBF1nfWgR0KK0Ux/h2vYW0rnEPV+t3j8Bd5WiBp/1y8VBiSsnRALSJUZukCEBPDBNMsod37Mv87s71FI1mN4Y4hgTATLvsgTkPdBor1I03lB1Neig9Ale2dB4ScUwofBzA6KuQgwSBKtlukObgToMOQTCBpXa1qP+EQZUDJ88HATMLJc8CaJ1TidBsJU6lmaoLKhjUvBVWOE7GLD+akvWR5DflWju4zH5iJPP6J1KfLxvF51md8hRV5rXNJGMi3rVHGc++DddNB8G4jaAv/9QDpvg+puMVAy0SGXNkGzw6n79w3bcGhtXEwaTXC5cjWm64PIPfNDn9NhuZXLfbmRiWXZri/dtGRL6iY5aZ5yAUgw1pPZQgjNOAD0uNPK9U45VDgvNlo14fueDHj9WG8Atndhq/9q/zVebWjlO1W2sri2bQbaAN21GrjwifIVNIApvM3M5i+wrtP7PWOyzGFrvN+5WIP5g9gq+eY9iQQkAufKL/S3L6jCMlFM8DBDZJQFrS+EJMpdAtuJukxvGorklQpQ+QvZKcrRjhu09FZN2oWBvh0GGdAlGR11lExKyipqURHI/EnYf3NwtfA/FhVcg/EUDyxzjqWU+sOkJ2Dp+PpeFB7BI=
  on:
    tags: true
    repo: devotox/ember-cli-dropdown-list
